<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Vroom Me</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  	<link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	</head>
	<body>
	<div id='nav-div'>
    <nav class="navbar">
      <a class="navbar-brand" href="#">
        <img src="img/Vroom_Me.png" width="80" height="80" alt="logo" id="logo" href="/">
        <div class="collapse navbar-collapse" id="navbarText">
          <button type="button" id="login_button" class="btn btn-link" href="/auth/google"><span class="navbar-text navbar-btn">
            Login</span>
          </button>
        </div>
      </a>
    </nav>
  </div>

	{{{ body }}}
  
	</body>
</html>
