<div class="jumbotron text-xs-center" id="confirmation">
  <h1 class="display-3">Confirmation</h1>
  <p class="lead"><strong>Your trip details:</strong></p>
  <p>Your driver is {{this.driverName}}</p>
  <p>Your trip will take place on {{this.date}} at {{this.startTime}}</p>
  <p>Your trip is ${{this.tripPrice}}</p>
  <hr>
  
  <p class="lead">
    <a class="btn btn-primary btn-sm" href="/" role="button">Return to your profile</a>
  </p>
</div>