<div class='container' id='circles'>

  <div class='row' id='rowOne'>
  {{#each days}}
  {{#if this.rowOne}}
    <div class='col-xs-4 day-wrap'>
      <div class='days center-block' id={{this.day}}> 
        <h5>{{this.day}}</h5>
      </div>
    </div>
  {{/if}}
  {{/each}}
  </div>

  <div class='row' id='rowTwo'>
    <div class='col-xs-2'></div>
    {{#each days}}
    {{#unless this.rowOne}}
    <div class='col-xs-4 day-wrap'>
      <div class='days center-block' id={{this.day}}> 
        <h5>{{this.day}}</h5>
      </div>
    </div>
    {{/unless}}
    {{/each}}
    <div class='col-sm-2'></div>
  </div>
</div>
<script>  
  

  var today = new Date();
  var dayOfWeek = today.getDay();
  console.log(`today is ${dayOfWeek}`)
  //logic to figure out which week to show  
  var week = []; 
  var grayDays = []; 
  for (var i = 0; i< 5; i++) {
    if (dayOfWeek === 6) {
      week[i] = new Date(new Date().getTime() + (i + 2)* 24 * 60 * 60 * 1000);
    } else {
      var dayShift = i + 1 - dayOfWeek;
      if (dayShift < 0) grayDays.push(i);
      week[i] = new Date(new Date().getTime() + dayShift * 24 * 60 * 60 * 1000);
    }
  }
  //logic to add attributes to divs
  $('.days').each(function(i) {
    var date = (week[i].getMonth() + 1) + "/" + week[i].getDate();
    console.log(date);
    $(this).attr('date', date);
    $(this).prepend('<h6>'+ date +'</h6>');
    //if the day has been passed, turn the bubble to gray
    if (grayDays.indexOf(i) !== -1) {
      $(this).css({'background-color': 'gray'});
    }
  })

  $('.days').on('click', function(){
    var date = $(this).attr('date');
    console.log(date, 'is being clicked')
    $.ajax({
      method: 'GET',
      url: '/query',
      data: date
    }).done(function(){
      console.log(date + ' is sent to server!')
    })
  })

  //logic to make circles have equal height and width and appropriate font size
  var cw = $('.days').width();
  $('h5').css({'font-size':cw*0.5+'px'});
  $('h6').css({'font-size':cw*0.1+'px'});
  $('.days').css({'height':cw+'px'});
</script>