<div id='circles'>
  {{#each days}}
    <div class='days' id={{this.day}}>
      <h6>{{this.day}}</h6>
    </div>
  {{/each}}
</div>
<script>  
  //set height the same as width
  var cw = $('.days').width();
  $('.days').css({'height':cw+'px'});
</script>