<form class="driver_form" action="/" method="POST">
  <div class="form" id="query_form">
    <input type="checkbox" checked data-toggle="toggle" data-on="Rider" data-off="  Driver" data-onstyle="warning" data-offstyle="info" class="toggle_button">
    <h1>Fill Out Your Information</h1>
    <br>
    <br>
    <div class="driver_form_time">
      <label for="time">Desired Time of Departure: </label> <br>
          <select required="required" autofocus="autofocus" class="departureTime" id='start-time'>
            <option selected="selected">Choose a time</option>
            <option value="6">06:00</option>
            <option value="6">06:30</option>
            <option value="7">07:00</option>
            <option value="6">07:30</option>
            <option value="8">08:00</option>
            <option value="6">08:30</option>
            <option value="9">09:00</option>
            <option value="6">09:30</option>
            <option value="16">16:00</option>
            <option value="6">16:30</option>
            <option value="17">17:00</option>
            <option value="6">17:30</option>
            <option value="18">18:00</option>
            <option value="6">18:30</option>
            <option value="19">19:00</option>
            <option value="6">19:30</option>
          </select>
      </div>
      <br>

      <div class="driver_form_addresses">
        <label for="trip">Origin: </label><br>
          <input type="text" name="tripOrigin" id="trip_origin" placeholder="Enter trip origin address" size="35"> <br>
          <br> 
          <br>
        <label for="trip">Destination: </label><br>
          <input type="text" name="tripDestination" id="trip_destination" placeholder="Enter trip destination address" size="35"> <br>
          <br>
          <br>
        <button type="search" id="submit">Search</button>
      </div>
  </div>
  <div id="driver_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">
            <strong> Enter the trip price: </strong>
          </h2>
        </div>
        <div class="modal-body">
          <div class="driver_form_price">
            <label for="tripPrice">Trip Price: </label>
            <br>
            <input type="number" min="0.00" step="0.01" id="trip_price" name="tripPrice" placeholder="$"> 
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" id="price_submit" data-dismiss="modal"> Submit </button>
        </div>
      </div>
    </div>
  </div>
  <!-- loading pages -->
  <!-- <div class="jumbotron text-xs-center loading" id="loading_database">
    <h3 class="display-3">Contacting Database...</h3>
  </div>
  <div class="jumbotron text-xs-center loading" id="contacing_google">
    <h3 class="display-3">Contacting Google...</h3>
  </div> -->
</form>
<script type="text/javascript">
  var time;
  var isRider = true;
  var price;

  //get departure time from dropdown
  $(".departureTime").change(function(res){
      time = $('#start-time').find(":selected").text();
      console.log(time);
  });

  //determine whether or not the user is a driver
  $(".toggle_button").change(function(){
      if($(this).prop("checked") == true){
         console.log("I'm a rider");
         //rider
         isRider = true;
      } else {
         console.log("I'm a driver");
         //driver
         isRider = false;
         //show modal 
         $('#driver_modal').modal('show');
         //get price value
         $("#price_submit").on("click", function(event){
            price = $("#trip_price").val().trim();
            console.log(price);
         });
      }
  });

  $("#submit").on("click", function(event){
    event.preventDefault();
    var newTrip = {
      time: time,
      originAddress: $("#trip_origin").val().trim(),
      destinationAddress: $("#trip_destination").val().trim(),
      price: price
    };
    console.log(newTrip);
    if(isRider === true){
      $.ajax({
        url: '/SQLresults',
        method: 'get',
        data: newTrip
      }).done(function(data){
        console.log(data, "Searching for rides");
        $(location).attr('href', '/results')
      })
    }
    else{
      $.ajax({
        url: '/create',
        method:'POST',
        data: newTrip
      }).done(function(data, res) {
        console.log(data, "You've posted the new trip!");
        $(location).attr('href', '/driverConfirmation')
      });
    }
  });
</script>
    