<h1>Fill Out Your Driver Information</h1>
<form class="driver_form" action="/" method="POST">
  <div class="buttons">
    <button type="submit" class="rider_button" href="#">RIDE</button>
    <button type="submit" class="driver_button" href="#">DRIVE</button>
  </div>
  
  <div class="driver_form_time">
    <label for="time">Time Range of Departure: </label> <br>
      <input type="time" id="startTime"> <input type="time" id="endTime">
  </div>
  <br>

  <div class="driver_form_addresses">
    <label for="trip">Origin: </label><br>
      <input type="text" name="tripOrigin" class="trip_origin" placeholder="Enter trip origin address"> <br>
      <br>
      
      <div class="dropdown btn-group">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" id="origin_city">Select City   
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li class="dropdown-header">Alameda County</li>
            <li><a href="#">Alameda</a></li>
            <li><a href="#">Berkeley</a></li>
            <li><a href="#">Oakland</a></li>
            <li><a href="#">Hayward</a></li>
            <li class="divider"></li>
          <li class="dropdown-header">Contra Costa County</li>
            <li><a href="#">Richmond</a></li>
            <li><a href="#">El Cerrito</a></li>
            <li class="divider"></li>
          <li class="dropdown-header">Marin County</li>
            <li><a href="#">San Rafael</a></li>
            <li><a href="#">Sausalito</a></li>
            <li class="divider"></li>
          <li class="dropdown-header">Napa County</li>
            <li><a href="#">Napa</a></li>
            <li><a href="#">American Canyon</a></li>
            <li class="divider"></li>
          <li class="dropdown-header">San Francisco County</li>
            <li><a href="#">San Francisco</a></li>
            <li class="divider"></li>
          <li class="dropdown-header">San Mateo County</li>
            <li><a href="#">Atherton</a></li>
            <li><a href="#">Belmont</a></li>
            <li class="divider"></li>
          <li class="dropdown-header">Santa Clara County</li>
            <li><a href="#">Campbell</a></li>
            <li><a href="#">Cupertino</a></li>
            <li class="divider"></li>
          <li class="dropdown-header">Solano County</li>
            <li><a href="#">Rio Vista</a></li>
            <li><a href="#">Fairfield</a></li>
            <li class="divider"></li>
          <li class="dropdown-header">Sonoma County</li>
            <li><a href="#">Sonoma</a></li>
            <li><a href="#">Santa Rosa</a></li>
        </ul>
      </div>
      <br>
      <br>
    <label for="trip">Destination: </label><br>
      <input type="text" name="tripDestination" class="trip_destination" placeholder="Enter trip destination address"> <br>
      <br>
      <div class="dropdown btn-group">
        <button class="btn btn-primary dropdown-toggle" id="destination_city" type="button" data-toggle="dropdown">Select City   
        <span class="caret"></span></button>
        <ul class="dropdown-menu" >
          <li class="dropdown-header">Alameda County</li>
            <li><a href="#">Alameda</a></li>
            <li><a href="#">Berkeley</a></li>
            <li><a href="#">Oakland</a></li>
            <li><a href="#">Hayward</a></li>
            <li class="divider"></li>
          <li class="dropdown-header">Contra Costa County</li>
            <li><a href="#">Richmond</a></li>
            <li><a href="#">El Cerrito</a></li>
            <li class="divider"></li>
          <li class="dropdown-header">Marin County</li>
            <li><a href="#">San Rafael</a></li>
            <li><a href="#">Sausalito</a></li>
            <li class="divider"></li>
          <li class="dropdown-header">Napa County</li>
            <li><a href="#">Napa</a></li>
            <li><a href="#">American Canyon</a></li>
            <li class="divider"></li>
          <li class="dropdown-header">San Francisco County</li>
            <li><a href="#">San Francisco</a></li>
            <li class="divider"></li>
          <li class="dropdown-header">San Mateo County</li>
            <li><a href="#">Atherton</a></li>
            <li><a href="#">Belmont</a></li>
            <li class="divider"></li>
          <li class="dropdown-header">Santa Clara County</li>
            <li><a href="#">Campbell</a></li>
            <li><a href="#">Cupertino</a></li>
            <li class="divider"></li>
          <li class="dropdown-header">Solano County</li>
            <li><a href="#">Rio Vista</a></li>
            <li><a href="#">Fairfield</a></li>
            <li class="divider"></li>
          <li class="dropdown-header">Sonoma County</li>
            <li><a href="#">Sonoma</a></li>
            <li><a href="#">Santa Rosa</a></li>
        </ul>
      </div>
  <br>
  <br>
  <button type="submit" class="submit" href="#"> Submit </button>


  
<div id="driver_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">
          <strong> Enter the trip price: </strong>
        </h2>
      </div>
      <div class="modal-body">
        <div class="driver_form_price">
          <label for="tripPrice">Trip Price: </label><br>
            <input type="number" min="0.00" step="0.01" name="tripPrice" placeholder="$"> 
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"> Submit </button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $("#origin_city").on("click", function(event){
    event.preventDefault();
  });
</script>
</form>