.driver_form {
  background: white;
  margin: 30px;
  font-family: 'Open Sans', sans-serif;
  padding: 50px 0;
  text-align: center;
}

body{
	background: black;
}

h1{
	text-align: center;
	color: white;
}

.trip_origin{
	 text-align: justify;
	 width: 40%;
}

.trip_destination{
	 text-align: justify;
	 width: 40%;
}

.rider_button{
	margin: 10px;
}

.buttons{
	padding: 10px;
}

.submit{
	margin: 10px;
}

li{
	padding: 5px;
}

#results_table{
	background: white;
	margin: 50px;
	font-family: 'Open Sans', sans-serif;
	width: 90%;
}