.driver_form {
  background: white;
  margin: 100px;
  font-family: 'Open Sans', sans-serif;
  padding: 70px 0;
  text-align: center;
}

body{
	background: black;
}

h1{
	text-align: center;
	color: white;
}

.trip_origin{
	 text-align: justify;
	 width: 40%;
}

.trip_destination{
	 text-align: justify;
	 width: 40%;
}