.driver_form {
  background: white;
  margin: 100px;
  font-family: 'Open Sans', sans-serif;
  padding: 70px 0;
  text-align: center;
}

body{
	background: black;
  min-height: 100vh;
  margin: 0
}

h1{
	text-align: center;
	color: white;
}

.trip_origin{
	 text-align: justify;
	 width: 40%;
}

.trip_destination{
	 text-align: justify;
	 width: 40%;
}

h5 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); 
}

h6 {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -80%);
}

a {
  color: black;
  text-decoration: none; /* no underline */
}

.container {
  min-height: 90vh;
}


.day-wrap {
  height: 40vh
}
.days {
  cursor: pointer;
  position: relative;
  -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 100%;
    max-width: 40vh;
    min-height: 120px;
    max-height: 100%;
    background-color: lightblue;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5), inset 2px 2px 4px rgba(0,0,0,.5);
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), inset 2px 2px 4px rgba(0,0,0,.5);  
    -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), inset 2px 2px 4px rgba(0,0,0,.5);
}

#rowOne, #rowTwo {
  height: 40vh;
}
#header{
  height:10vh;
  border-bottom: 2px solid black;
}

#circles{
  margin-top: 5vh;
}

#confirmation{
<<<<<<< HEAD
	text-align: center;
}

#driver_button{
    opacity: 0.6;
    cursor: not-allowed;
}
=======
    text-align: center;
}

#driver_button{
   opacity: 0.6;
   cursor: not-allowed;
}

.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
>>>>>>> a6071b997c0f754d077d4a6157c2d1c2640ca1fe
