<!-- option 2, pass in the id of the cat inside the form - you would access this in the route using req.body.id not req.params.id -->
{{!--<form action="/?_method=DELETE" method="POST">
  <button type="submit" name='id' value="{{this.id}}">DELETE!</button>
</form>--}}
